#cont{
	width:600px;
	height:340px;
	border:1px solid black;
	margin:auto;
	margin-top:70px;
	background:white;
	position:absolute;
	margin-left:450px;
	margin-top:240px;
}
#txt
{
	color:white;
	font-size:80px;
	color:#fff;
	text-shadow:
	0 0 5px  #FFFF00,
	0 0 110px  #FFFF00,
	0 0 25px  #FFFF00,
	0 0 5px  #FFFF00;
	font-size:70px;
	margin-left:527px;
	margin-top:50px;
	position:absolute;
	font-style:italic;
	word-spacing:10px;
	letter-spacing:7px;
	-webkit-box-reflect:below 1px linear-gradient(to bottom,rgba(0,0,0,0.0),rgba(0,0,0,0.3));
	text-decoration:underline;
	animation:rotate 10s linear infinite;
}
@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(-30deg);
    }
    50% {
        transform: perspective(1000px) rotateY(30deg);
    }
    100% {
        transform: perspective(1000px) rotateY(-30deg);
    }
}

#pic1
{
	width:585px;
	height:325px;
	margin-left:7px;
	margin-top:7.5px;
}
#box1
{
	height:40px;
	width:40px;
	border:1px solid black;
	border-radius:50%;
	background:white;
	position:absolute;
	margin-top:395px;
	margin-left:382px;
}
#box1:hover
{
	transform:scale(1.2)
}
#box1 img
{
	height:40px;
	width:40px;
}
#box2
{
	height:40px;
	width:40px;
	border:1px solid black;
	border-radius:50%;
	background:white;
	position:absolute;
	margin-top:395px;
	margin-left:1078px;
}
#box2:hover
{
	transform:scale(1.2)
}
#box2 img
{
	height:40px;
	width:40px;
}
#box3
{
	height:40px;
	width:40px;
	border:1px solid black;
	border-radius:50%;
	position:absolute;
	margin-left:725px;
	margin-top:600px;
}
#box3 img
{
	height:40px;
	width:40px;
	border-radius:50%;

}
#box3:hover
{
	transform:scale(1.2)
}
